In [1]:
//Load Library
%classpath add jar libs/*

In [4]:
import tech.tablesaw.api.*;
import static tech.tablesaw.aggregate.AggregateFunctions.*;
import tech.tablesaw.io.xlsx.*;

// display Tablesaw tables with BeakerX table display widget
tech.tablesaw.beakerx.TablesawDisplayer.register();

//init objek
Table  dfSmallgrade= Table.read().csv("datasets/12181607/12181607.csv");

//Menampilkan  5 baris data yang pertama dari data frame Binatang 
System.out.println(dfSmallgrade.first(5));

// display Tablesaw tables with BeakerX table display widget
tech.tablesaw.beakerx.TablesawDisplayer.register();

//init objek XlsReader
XlsxReader reader = new XlsxReader();
XlsxReadOptions options = XlsxReadOptions.builder("datasets/12181607/12181607.xlsx").build();
Table tab = reader.read(options);

Table dfDataXLS = reader.read(options);

//Menampilkan 5 baris data yang terakhir dari data frame dfDataXLS
System.out.println(dfDataXLS.first(5));

//menggabungkan data pada dataframedata1 dan dataframedata2 untuk disimpan di df datagabung
Table datagabung = dfSmallgrade.append(dfDataXLS);

//menampilkan gabungan data yang ada di dataframe datagabung
System.out.println(datagabung.first(5)); 

//menampilkan summary data yang ada di dataframe datagabung kolom "grade"
System.out.print(datagabung.summarize("nilai", mean, max, min, sum).apply());

                                                               12181607.csv
 _id  |  idx  |   vervar    |                                 var                                 |     turvar      |  tahun  |   nilai   |
-------------------------------------------------------------------------------------------------------------------------------------------
   1  |    0  |  Pertanian  |  [Seri 2000] Produk Domestik regional Bruto Menurut Lapangan Usaha  |  Harga Berlaku  |   2001  |  1041039  |
   2  |    1  |  Pertanian  |  [Seri 2000] Produk Domestik regional Bruto Menurut Lapangan Usaha  |  Harga Berlaku  |   2002  |  1123250  |
   3  |    2  |  Pertanian  |  [Seri 2000] Produk Domestik regional Bruto Menurut Lapangan Usaha  |  Harga Berlaku  |   2003  |  1219804  |
   4  |    3  |  Pertanian  |  [Seri 2000] Produk Domestik regional Bruto Menurut Lapangan Usaha  |  Harga Berlaku  |   2004  |  1372687  |
   5  |    4  |  Pertanian  |  [Seri 2000] Produk Domestik regional Bruto Menurut Lapangan Usaha  |  Harga Berlaku  |   2005  |  1643245  |
                                                                          12181607.xlsx
 _id  |  idx  |               vervar               |                                 var                                 |     turvar      |  tahun  |  nilai   |
-----------------------------------------------------------------------------------------------------------------------------------------------------------------
 101  |  100  |  Perdagangan, Hotel, dan Restoran  |  [Seri 2000] Produk Domestik regional Bruto Menurut Lapangan Usaha  |  Harga Berlaku  |   2001  |  243220  |
 102  |  101  |  Perdagangan, Hotel, dan Restoran  |  [Seri 2000] Produk Domestik regional Bruto Menurut Lapangan Usaha  |  Harga Berlaku  |   2002  |  278071  |
 103  |  102  |  Perdagangan, Hotel, dan Restoran  |  [Seri 2000] Produk Domestik regional Bruto Menurut Lapangan Usaha  |  Harga Berlaku  |   2003  |  307200  |
 104  |  103  |  Perdagangan, Hotel, dan Restoran  |  [Seri 2000] Produk Domestik regional Bruto Menurut Lapangan Usaha  |  Harga Berlaku  |   2004  |  348832  |
 105  |  104  |  Perdagangan, Hotel, dan Restoran  |  [Seri 2000] Produk Domestik regional Bruto Menurut Lapangan Usaha  |  Harga Berlaku  |   2005  |  426895  |
                                                               12181607.csv
 _id  |  idx  |   vervar    |                                 var                                 |     turvar      |  tahun  |   nilai   |
-------------------------------------------------------------------------------------------------------------------------------------------
   1  |    0  |  Pertanian  |  [Seri 2000] Produk Domestik regional Bruto Menurut Lapangan Usaha  |  Harga Berlaku  |   2001  |  1041039  |
   2  |    1  |  Pertanian  |  [Seri 2000] Produk Domestik regional Bruto Menurut Lapangan Usaha  |  Harga Berlaku  |   2002  |  1123250  |
   3  |    2  |  Pertanian  |  [Seri 2000] Produk Domestik regional Bruto Menurut Lapangan Usaha  |  Harga Berlaku  |   2003  |  1219804  |
   4  |    3  |  Pertanian  |  [Seri 2000] Produk Domestik regional Bruto Menurut Lapangan Usaha  |  Harga Berlaku  |   2004  |  1372687  |
   5  |    4  |  Pertanian  |  [Seri 2000] Produk Domestik regional Bruto Menurut Lapangan Usaha  |  Harga Berlaku  |   2005  |  1643245  |
                        12181607.csv summary
   Mean [nilai]     |  Max [nilai]  |  Min [nilai]  |  Sum [nilai]  |
---------------------------------------------------------------------
 773397.1500000004  |      6346245  |         9526  |    108275601  |

null

In [4]:
//Render HTML
%%html

In [3]:
//Menginstal library dengan maven
%%classpath add mvn
tech.tablesaw tablesaw-beakerx 0.37.0
tech.tablesaw tablesaw-jsplot 0.37.0
tech.tablesaw tablesaw-plot 0.24.4

In [5]:
import tech.tablesaw.api.Table;
import tech.tablesaw.plotly.Plot;
import tech.tablesaw.plotly.components.Figure;
import tech.tablesaw.plotly.components.Layout;
import tech.tablesaw.plotly.traces.HistogramTrace;


    Table data_kepuasan = Table.read().csv("datasets/12181607/12181607.csv");

    Layout layout = Layout.builder().title("Produk Domestik regional Bruto Menurut Lapangan Usaha").build();

    HistogramTrace trace = HistogramTrace.builder(data_kepuasan.nCol("nilai")).build();

    Plot.show(new Figure(layout, trace));

null

In [12]:
import static tech.tablesaw.aggregate.AggregateFunctions.*;

import tech.tablesaw.api.*;
import tech.tablesaw.io.csv.*;

import tech.tablesaw.plotly.Plot;
import tech.tablesaw.plotly.api.HorizontalBarPlot;
import tech.tablesaw.plotly.api.VerticalBarPlot;
import tech.tablesaw.plotly.components.Figure;
import tech.tablesaw.plotly.components.Layout;
import tech.tablesaw.plotly.components.Marker;
import tech.tablesaw.plotly.traces.BarTrace;
import tech.tablesaw.plotly.traces.Trace;

// display Tablesaw tables with BeakerX table display widget
tech.tablesaw.beakerx.TablesawDisplayer.register();

//init objek
Table  dfData = Table.read().csv("datasets/12181607/12181607.csv");

Table summaryNilai =  dfData.summarize("nilai", sum).by("vervar");;

Table sumTahun =  dfData.summarize("Tahun", sum).by("turvar");

System.out.println(summaryNilai.print());

System.out.println(sumTahun.print());

//Ploting grafik secara vertical 
Plot.show(
        VerticalBarPlot.create(
            "nilai",
            summaryNilai,
            "vervar",
            Layout.BarMode.GROUP,
            "Sum [nilai]"));

//Ploting grafik secara horisontal 
  Plot.show(
        HorizontalBarPlot.create(
            "turvar",
            sumTahun,
            "turvar",
            Layout.BarMode.STACK,
            "Sum [Tahun]"));

     12181607.csv summary
   vervar    |  Sum [nilai]  |
------------------------------
  Pertanian  |     31955778  |
 Penggalian  |       832437  |
         12181607.csv summary
       turvar        |  Sum [tahun]  |
--------------------------------------
      Harga Berlaku  |        40110  |
 Harga Konstan 2000  |        40110  |

null